
.carousel-item>img{
    max-height: 300px;
}
.first_para{
	font-size: 1em;
	letter-spacing: 1px;
	line-height: 28px;
	color: rgb(19, 18, 18);
	margin: 1em 0;
}

	.row {
	
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-right: 0px;
		margin-left: 0px;
	
	}
.row1{
	border: 1px black solid;
	background-image: url(images/background1.jpg);

}
.p2{
	text-align: center;
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.a1{
	background-image: url(images/phusi.jpg);
	background-size: cover;
	background-position: center;
}
.a2{
	background-image: url(images/bien.jpg);
	background-size: cover;
	background-position: center;
}
.a3{
	background-image: url(images/phongnha1.jpg);
	background-size: cover;
	background-position: center;
}
.footer-col{
    padding: 20px auto;
}

footer{
    background-image: url(images/bg-section-videos.jpg);
    background-repeat: no-repeat;
	background-size: cover;
	padding-right: 0px;
	padding-right: 0px;
}
.footer-logo{
    margin-bottom: 15px;
}
.col-md-4 h6{
    margin :25px auto;
    font-size: 1.2em;
}
.col-md-4 ul{
    list-style: none;
}

.col-md-4 li{
    line-height: 45px;
}
.col-md-4 a{
    color: aliceblue;
}
.col-md-4{
    padding: 15px;
    
}
footer .col-4{
    padding: 0 !important;
    width: 70px !important;
}
 