.row1{
    background-image: url(images/background1.jpg);
}

footer{
    background-image: url(images/bg-section-videos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo{
    margin-bottom: 15px;
}
.col-md-4 h6{
    margin :25px auto;
    font-size: 1.2em;
}
.col-md-4 ul{
    list-style: none;
}

.col-md-4 li{
    line-height: 45px;
}
.col-md-4 a{
    color: aliceblue;
}
.col-md-4{
    padding: 15px;
    
}
footer .col-4{
    padding: 0 !important;
    width: 70px !important;
}