*{
    padding: 0;
    margin: 0;
}
.container-fluid{
    padding: 50px;
    background-image: url("images/bg.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.ads{
    -webkit-animation: color_change 0.3s infinite alternate;
	-moz-animation: color_change 0.3s infinite alternate;
	-ms-animation: color_change 0.3s infinite alternate;
	-o-animation: color_change 0.3s infinite alternate;
    animation: color_change 0.3s infinite alternate;   
}
@-webkit-keyframes color_change {
	from {color: blue; }
	to {color: red; }
}
@-moz-keyframes color_change {
	from {color: blue; }
	to {color: red; }
}
@-ms-keyframes color_change {
	from {color: blue; }
	to {color: red; }
}
@-o-keyframes color_change {
	from {color: blue; }
	to {color: red; }
}
@keyframes color_change {
	from {color: blue; }
	to {color: red; }
}
.footer-col{
    padding: 20px auto;
}

footer{
    background-image: url(images/bg-section-videos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer-logo{
    margin-bottom: 15px;
}
.col-md-4 h6{
    margin :25px auto;
    font-size: 1.2em;
}
.col-md-4 ul{
    list-style: none;
}

.col-md-4 li{
    line-height: 45px;
}
.col-md-4 a{
    color: aliceblue;
}
.col-md-4{
    padding: 15px;
    
}
footer .col-4{
    padding: 0 !important;
    width: 70px !important;
}
.card-text{
    max-height: 20%;
}



